.float-left{
    float: left;
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: bottom;
}
.lei-button button {
    border: none;
    background: white;
    color: #5a5a5a;
    cursor: pointer;
}
.lei-button .lei-active{
    color: #5c00ff;
}
.lei-button .icon-font{
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
}
.lei-button .lei-upload input{
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.lei-button .lei-hidden {
    display: none;
}
.lei-button .lei-upload{
    width: 130px;
    height: 60px;
    position: absolute;
    border: 1px solid black;
    box-shadow: 3px 3px 0 0 #25252547;
    line-height: 1;
    text-align: center;
}
.lei-button .lei-upload i{
    line-height: 1;
    font-size: 3rem;
}
.lei-button .lei-upload input:hover + i{
    color: #5a5a5a;
}