.LeiEditor p,.LeiEditor h1,.LeiEditor h2,.LeiEditor h3
,.LeiEditor h4,.LeiEditor h5,.LeiEditor h6,.LeiEditor ul
,.LeiEditor tr,.LeiEditor td,.LeiEditor li,.LeiEditor a
,.LeiEditor image,.LeiEditor form,.LeiEditor button
{
    margin: 0;
    padding: 0;
}
.LeiEditor a{
    text-decoration: none;
}
.LeiEditor li {
    list-style: none;
}
.LeiEditor-button-list{
    display: inherit;
    width: 40px;
    height: 40px;
    margin-left: 1px;
    margin-right: 1px;
    float: left;
}
.LeiEditor-button{
    border:none;
    text-align: center;
    width: 40px;
    height: 40px;
    margin-left: 1px;
    margin-right: 1px;
    background: #F1F1F1;
    cursor: pointer;
    padding: 0;
}

.LeiEditor-button i {
    font-size: 1.7rem;
    color: #999;
}
.LeiEditor-button :hover{
    color: #0000b0;
}
.LeiEditor-button-close i{
     color: red;
     font-size: 1.7rem;
 }
.LeiEditor-button-close :hover{
    color: red;
}

.LeiEditor-second-nav{
    visibility: hidden;
}