#editor {
    border: none;
    width: 100%;
    height: 100%;
}
#buttonList {
    background: #F1F1F1;
    text-align: left;
}
.clear:after{
    clear: both;
    height:0px;
    display: block;
    visibility: hidden;
    content: '.';
}
.clear{
    zoom: 1;
}
.App {
    border: 1px solid black;
    width: 800px;
    height: 800px;
    margin: 0 auto;
}